
<div class="container footer">
    &copy; @Config.CompanyName All rights reserved. | Design: <a class="company_link" href="https://www.linkedin.com/in/serhii-kysil-755741150/">@Config.CompanyName</a>
</div>
