<div>
    <div class="container">
        <div>
            <div>

                <div>
                    &copy; @Config.CompanyName. All rights reserved. | Design: <a href="https://www.linkedin.com/in/serhii-kysil-755741150/">@Config.CompanyName</a>
                </div>

            </div>
        </div>
    </div>
</div>