<header class="header">

    <div class="container">

        <div class="header__logo">

            <div class="logo">
                <a class="logo__link" href="https://www.linkedin.com/in/serhii-kysil-755741150/"
                   target="_profileCompany">
                    <img class="logo__link-img" src="/img/logo_white.png" alt="logo">
                    49Corp.
                </a>
            </div>


            <div class="header__menu ">

                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item menu__list-item--active">
                            <a class="menu__list-link" href="#">Головна</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Новини</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Залупа</a>
                        </li>

                    </ul>
                </nav>
            </div>

            <div class="header__user">
                <img src="" alt="userimg" class="userimage">
            </div>

        </div>
    </div>
</header>